{% extends 'base.html' %}

{% load static %}
{% load staticfiles %}
{% load django_tables2 %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/managing_pages.css' %}">
{% endblock %}

{% block title %}Gestione ordini accettati{% endblock %}

{% block search-bar %}
{% endblock %}

{% block body %}
    <!-- Show django messages -->
    {% if messages %}
        <ul class="messages" style="padding: 0px;">
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        </ul>
    {% endif %}
    <!------------------------->

    <div class="row managing-pages-head m-2">
        <h2>Gestione ordini accettati dal ristorante {{ restaurant.name }}</h2>
    </div>
    {% if multiple_restaurants %}
        <ul class="nav-item dropdown px-0 select-restaurant-dropdown">
            <aX class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Seleziona ristorante
            </aX>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for restaurant in restaurateurs_restaurants %}
                    <a class="dropdown-item" href="{% url 'restaurants:accepted-orders-managing' restaurant.id %}">{{ restaurant.name }}</a>
                {% endfor %}
                {#                <a class="dropdown-item" href="{% url 'restaurants:orders-managing' %}">Gestione ordini</a>#}
            </div>
        </ul>
    {% endif %}
    {% if orders_number == 0 %}
        <p>Non sono presenti ordini per questo ristorante</p>
    {% else %}
        {% render_table table %}
    {% endif %}
{% endblock %}