{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Inserimento nuovo ristorante{% endblock %}

{% block content %}
    <!-- Show django messages -->
    {% if messages %}
        <ul class="messages" style="padding: 0px;">
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        </ul>
    {% endif %}
    <!------------------------->

    <a type="button"  href="{% url 'restaurants:restaurants-managing' %}" class="btn btn-outline-dark">
        <i class="fas fa-arrow-left mr-2"></i>
        Torna alla gestione dei ristoranti
    </a>

<div class="container">
<h2>Inserimento ristorante</h2>
        {% csrf_token %}
        {% crispy form %}
</div>
{% endblock %}