{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Inserimento nuovo piatto{% endblock %}

{% block content %}
    <a type="button"  href="{% url 'restaurants:menu-managing' menu_managing_id %}" class="btn btn-outline-dark"><i class="fas fa-arrow-left mr-2"></i>Torna alla gestione dei ristoranti</a>

    <div class="container">
    <h2>Aggiungi un nuovo piatto</h2>
        {% csrf_token %}
        {% crispy form%}
    </div>
{% endblock %}