{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Modifica ristorante{% endblock %}

{% block content %}
    <a type="button"  href="{% url 'restaurants:restaurants-managing' %}" class="btn btn-outline-dark"><i class="fas fa-arrow-left mr-2"></i>Torna alla gestione dei ristoranti</a>

    <div class="container">
        <h2>Modifica il ristorante {{ name }}</h2>
        {% csrf_token %}
        {% crispy form %}
    </div>
{% endblock %}