{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Modifica piatto{% endblock %}

{% block content %}
    <a type="button"  href="{% url 'restaurants:menu-managing' menu_managing_id %}" class="btn btn-outline-dark">
        <i class="fas fa-arrow-left mr-2"></i>
        Torna alla gestione dei menu
    </a>

    <div class="container">
        <h2>Modifica il piatto {{ name }}</h2>
        {% csrf_token %}
        {% crispy form %}
    </div>
{% endblock %}