{% extends 'base.html' %}

{% load static %}
{% load staticfiles %}
{% load django_tables2 %}

{% block title %}Dettagli ordine{% endblock %}

{% block body %}
    {% if order_managing_type == 'done' %}
        <a type="button"  href="{% url 'restaurants:done-orders-managing' order_managing_id %}" class="btn btn-outline-dark"><i class="fas fa-arrow-left mr-2"></i>Torna alla gestione ordini</a>
    {% elif order_managing_type == 'accepted' %}
        <a type="button"  href="{% url 'restaurants:accepted-orders-managing' order_managing_id %}" class="btn btn-outline-dark"><i class="fas fa-arrow-left mr-2"></i>Torna alla gestione ordini</a>
    {% else %}
    <a type="button"  href="{% url 'restaurants:orders-managing' order_managing_id %}" class="btn btn-outline-dark"><i class="fas fa-arrow-left mr-2"></i>Torna alla gestione ordini</a>
    {% endif %}

    <h2>Dettagli ordine per il ristorante {{ order.restaurant.name }}</h2>
    <b>Data ordine: </b>
    <p>{{ order.timestamp }}</p>
    <b>Cliente: </b>
    <p>
        email: {{ order.customer }}
        <br>
        Telefono: {{ order.customer_number }}
    </p>
    <b>Indirizzo:</b>
    <p>
        Via {{ order.customer_address.street }}
        n°{{ order.customer_address.house_number }},
        {{ order.customer_address.city }} ({{ order.customer_address.province }})
        <br>
        Piano: {{ order.customer_floor_flat_nb }}
        <br>
        Istruzioni per il fattorino: {{ order.instructions }}
    </p>
    <b>Piatti ordinati:</b>
    {% for dish in ordered_dishes %}
        <p>  - {{ dish.quantity }} {{ dish.name }}, prezzo: {{ dish.price }}€</p>
    {% endfor %}
    <b>Totale:</b>
    <p>{{ order.price }}€</p>
{% endblock %}
