{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/payment.css' %}">
{% endblock %}

{% block title %}Pagamento{% endblock %}

{% block body %}
    <a type="button"  href="{% url 'restaurants:restaurant-page' restaurant_id %}" class="btn btn-outline-dark"><i class="fas fa-arrow-left mr-2"></i>Torna al ristorante</a>

    <!-- Show django messages -->
    {% if messages %}
        <ul class="messages" style="padding: 0px;">
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        </ul>
    {% endif %}
    <!------------------------->

    <!------------------------ SHOPPING CART ------------------------>
    <div class="container">
        <div class="card shopping-cart my-lg-2 my-md-2 my-sm-2" id="shopping_cart">
            <div class="card-header bg-dark text-light">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                Carrello
                <div class="clearfix"></div>
            </div>
            <div class="card-body cart-items">
                <!-- cart elements -->
                {% for element in cart_elements %}
                    <div class="row cart-row">
                        <div class="col-4 col-sm-4 col-md-4">
                            <div class="quantity">
                                <!--                        <input type="button" value="+" class="dish-item-plus">-->
                                <input value={{ element.dish_quantity }} class="dish-item-qty"
                                       size="4" disabled>
                                <!--                        <input type="button" value="-" class="dish-item-minus">-->
                            </div>
                        </div>
                        <div class="col-4 text-sm-center col-sm-4 text-md-left col-md-4">
                            <p class="product-name">{{ element.dish_name }}</p>
                        </div>
                        <div class="col-4 col-sm-4 text-sm-center col-md-4 text-md-right row">
                            <div class="col-10 col-sm-10 col-md-10 text-md-right" style="padding-top: 5px">
                                <!--   <script class="dish-original-price">var dishPrice = ${price}</script> -->
                                <p class="dish-item-price" data-original-price='{{ element.price }}'>{% widthratio element.price 1 element.dish_quantity %}€</p>
                            </div>
                            <hr>
                        </div>
                    </div>
                {% endfor %}
                <!------------------->

            </div>
            <div class="card-footer">
                <div class="pull-right" style="margin: 10px">
                    <div class="pull-left" style="margin: 5px">
                        <p class="delivery-price my-1">Consegna: {{ delivery_price }}€</p>
                        <p class="my-1">Totale: <b class="cart-total-price">{{ cart_total }}€</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!------------------------------------------------>

    <div class="container">
        {% csrf_token %}
        {% crispy form %}
    </div>

{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/cart_updater.js' %}"></script>
{% endblock %}