{% extends 'base.html' %}

{% load static %}
{% load staticfiles %}
{% load django_tables2 %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/managing_pages.css' %}">
{% endblock %}

{% block title %}Gestione ristoranti{% endblock %}

{% block search-bar %}
{% endblock %}

{% block body %}
    <!-- Show django messages -->
    {% if messages %}
        <ul class="messages" style="padding: 0px;">
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        </ul>
    {% endif %}
    <!------------------------->

    <div class="row managing-pages-head mt-2">
        <h2 class="m-0">Gestione ristoranti</h2>
    </div>

    <div class="row add-item">
        <a class="btn btn-primary m-4" href="{% url 'restaurants:add-restaurant' %}">
            <i class='fas fa-plus mr-1'></i>
            Aggiungi ristorante
        </a>
    </div>

    {% if restaurants_number == 0 %}
        <p>Non è stato inserito alcun ristorante</p>
    {% else %}
        {% render_table table %}
    {% endif %}
{% endblock %}