{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %}Modifica ordine{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/restaurants.css' %}">
    <link rel="stylesheet" href="{% static 'css/shopping_cart.css' %}">
{% endblock %}

{% block body %}
    <a type="button"  href="{% url 'custom_users:customer-orders-managing' %}" class="btn btn-outline-dark"><i class="fas fa-arrow-left mr-2"></i>Torna alla gestione ordini</a>

    <!------------------------ SHOPPING CART ------------------------>
    <div class="container">
        <div class="card shopping-cart my-lg-2 my-md-2 my-sm-2" id="shopping_cart">
            <div class="card-header bg-dark text-light">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                Carrello
                <div class="clearfix"></div>
            </div>
            <div class="card-body cart-items">
                <!-- cart elements -->
                {% for dish in ordered_dishes  %}
                    <div class="row cart-row">
                        <div class="col-4 col-sm-4 col-md-4">
                            <div class="quantity">
                                {#                                    <input type="button" value="+" class="dish-item-plus">#}
                                <input value={{ dish.quantity }} class="dish-item-qty"
                                       size="4">
                                {#                                    <input type="button" value="-" class="dish-item-minus">#}
                            </div>
                        </div>
                        <div class="col-4 text-sm-center col-sm-4 text-md-left col-md-4">
                            <p class="product-name">{{ dish.dish.name }}</p>
                        </div>
                        <div class="col-4 col-sm-4 text-sm-center col-md-4 text-md-right row">
                            <div class="col-10 col-sm-10 col-md-10 text-md-right" style="padding-top: 5px">
                                <!--   <script class="dish-original-price">var dishPrice = ${price}</script> -->
                                <p class="dish-item-price" data-original-price='{{ dish.dish.price }}'>{% widthratio dish.dish.price 1 dish.quantity %}€</p>
                            </div>
                            <hr>
                        </div>
                    </div>
                {% endfor %}
                <!------------------->
            </div>
            <div class="card-footer">
                <div class="pull-right" style="margin: 10px">
                    <div class="pull-left" style="margin: 5px">
                        <p class="delivery-price my-1">Consegna: {{ order.restaurant.delivery_price }}€</p>
                        <p class="my-1">Totale: <b class="cart-total-price">{{ order.price }}€</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!------------------------------------------------>

    <div class="container">
        {% csrf_token %}
        {% crispy form %}
    </div>
{% endblock %}

{% block javascript %}
    <script>
        let cart_button = false
    </script>
    <script type="text/javascript" src="{% static 'js/cart_updater.js' %}"></script>
    <script type="text/javascript">
        console.log('elements', elements)
        updateCartTotal()
        $('.payment-button').click(function() {
            $.ajax({
                type: "POST",
                async: false,
                url: '{% url "custom_users:ajax-get-cart-data" %}',
                data: {
                    'elements': JSON.stringify(elements),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                dataType: 'json',
                success: function(data) {
                    if (data.correct) {
                        console.log('Dati del carrello inviati correttamente')
                    } else {
                        alert(data.message)
                    }
                },
                error:function() {
                    console.log('ajax error')
                }
            });
        })
    </script>
{% endblock %}