{% extends 'base.html' %}

{% load static %}
{% load staticfiles %}
{% load django_tables2 %}

{% block title %}Gestione ordini accettati{% endblock %}


{% block body %}
        <!-- Show django messages -->
    {% if messages %}
        <ul class="messages" style="padding: 0px;">
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        </ul>
    {% endif %}
    <!------------------------->

    <h2>Gestione ordini presi in carico dal ristorante</h2>
    {% if orders_number == 0 %}
        <p>Non sono presenti ordini per questo ristorante</p>
    {% else %}
        {% render_table table %}
    {% endif %}
{% endblock %}