{% extends 'base.html' %}

{% load static %}
{% load staticfiles %}
{% load django_tables2 %}

{% block title %}Dettagli ordine{% endblock %}

{% block body %}
    <a type="button"  href="{% url previous %}" class="btn btn-outline-dark"><i class="fas fa-arrow-left mr-2"></i>Torna alla gestione ordini</a>
    <h2>Dettagli ordine per il ristorante {{ order.restaurant.name }}</h2>
    <b>Data ordine: </b>
    <p>{{ order.timestamp }}</p>
    <b>Stima dell'arrivo:</b>
    <p>{{ order.arrival_time }}</p>
    <b>Cliente: </b>
    <p>{{ order.customer }}</p>
    <b>Indirizzo:</b>
    <p>
        Via {{ order.customer_address.street }}
        n°{{ order.customer_address.house_number }},
        {{ order.customer_address.city }} ({{ order.customer_address.province }})
    </p>
    <br>
    <b>Piatti ordinati:</b>
    {% for dish in ordered_dishes %}
        <p>  - {{ dish.quantity }} {{ dish.name }}, prezzo: {{ dish.price }}€</p>
    {% endfor %}
    <b>Totale:</b>
    <p>{{ order.price }}€</p>
{% endblock %}
