{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Register new user{% endblock %}

{% block content %}
    <a type="button"  href="{% url 'home' %}" class="btn btn-outline-dark">
        <i class="fas fa-arrow-left mr-2"></i>
        Torna alla home
    </a>
    <div class="container">
{#<div class="col-2"></div>#}
    {% csrf_token %}
    {% crispy form %}
    </div>

{% endblock %}
