{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}
    <!-- Show django messages -->
    {% if messages %}
        <ul class="messages" style="padding: 0px;">
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        </ul>
    {% endif %}
    <!------------------------->

    <a type="button" action="action" onclick="window.history.go(-1); return false;" class="btn btn-outline-dark">
        <i class="fas fa-arrow-left mr-2"></i>
        Indietro
    </a>

    <div class="container">
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="hidden" name="next" value="{{ request.GET.next }}"/>
        <input type="submit" class="btn btn-success" value="Accedi">
    </form>
    </div>

{% endblock %}

{% block javascript %}
    {#    <script>#}
    {#        {{ form.get_user().is_restaurateur }}#}
    {#        $('.btn-rating').click(function() {#}
    {##}
    {#        })#}
    {#    </script>#}

{% endblock %}