@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body {
    font-family: "Poppins" !important;
}

.my-navbar {
    box-shadow: 0px 10px 30px rgba(216, 216, 216, 0.45);
    position: sticky;
    width: 100%;
    z-index: 10;
}

.navbar-brand {
    font-weight: bold;
}
.navbar-brand img {
    width: 50px;
}

.nav-link {
    border-bottom: 4px solid white;
    margin-right: 24px;
    transition: 0.3s ease;
    padding: 5px;
}
.nav-link:hover {
    color: black;
    border-bottom: 4px solid #eb4027;
}
.nav-active a {
    color: black !important;
    font-weight: 600;
    border-bottom: 4px solid #eb4027;
}

.nav-link {
    text-align: center;
}

a.disabled {
    pointer-events: none;
    color: #ccc;
}

#find_a_meal_btn {
    border-color: black;
}

#home-heading-container {
    /*background: #E94B3CFF;*/
    /*background: #F2AA4CFF;*/
}

.dropdown {
    display: flex;
    justify-items: right;
    justify-self: right;
    justify-content: right;
}



