/* ---------- Homepage header ---------- */
a.disabled {
    pointer-events: none;
    color: #ccc;
}
/* Colors: #F93822FF, #FDD20EFF */
#home-header, #home-search, #home-login-signup {
    display: inline;
}

#home-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#home-logo {
    font-family: "Noto Sans CJK JP DemiLight";
    font-weight: bold;
}

body {
    height: 100%;
}

.find-a-meal-container {
    position: absolute;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;

}

.find-a-meal-container-inner {
    display: flex;
    justify-content: center;
}

/*#find_a_meal_btn_home {*/
/*    width: 200px;*/
/*    height: 200px;*/
/*}*/
/* ------------------------------------ */
#dishes-cart_row {
    background: black;
}




