.add-item {
    display: flex;
    justify-content: center;
}

.managing-pages-head {
    display: flex;
    justify-content: center;
    text-align: center;
}

.select-restaurant-dropdown {
    display: flex;
    justify-content: left;
}