#dishes-cart_row{
    background: #CECECE;
}

a.disabled {
    pointer-events: none;
    color: #ccc;
}

.btn-purchase {
    width: 100%;
}

/* ---------- Dishes' buttons ---------- */
.dish-description {
    margin-bottom: 0px;
}
.dish-name {
    margin: 0;
    width: max-content;
    align-self: flex-start;

}
.dish-description {
}
.dish-price {
    margin: 0;
    padding: 0;
}
.dish-img {
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: .50rem;
    padding: 0;
}
.btn-dish-item {
    border-radius: .50rem;
    text-align: left;
    font-size: small;
    padding: 0;

}
.dish-item-card {
    padding: 0;
    border-radius: .50rem;
}
.dish-info-col {
    display: flex;
    flex-direction: column;
    /*justify-content: left;*/
    /*align-items: ;*/
}
.dishes-card-body {
    padding: 10px;
    padding-right: 25px;
}

#non_available_dish {
    color: red;
}
/* ------------------------------------ */



