/* ---------- Shopping cart ---------- */
.quantity {
    float: left;
    margin-right: 15px;
    background-color: #eee;
    position: relative;
    width: 80px;
    overflow: hidden
}

.quantity input {
    margin: 0;
    text-align: center;
    width: 15px;
    height: 15px;
    padding: 0;
    float: right;
    color: #000;
    font-size: 20px;
    border: 0;
    outline: 0;
    background-color: #F6F6F6
}

.quantity input.dish-item-qty {
    position: relative;
    border: 0;
    width: 100%;
    height: 40px;
    padding: 10px 25px 10px 10px;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    border-radius: 0;
    background-clip: padding-box

    /*height: 34px;*/
    /*width: 50px;*/
    /*border-radius: 5px;*/
    /*border: 1px solid #56CCF2;*/
    /*background-color: #eee;*/
    /*color: #333;*/
    /*padding: 0;*/
    /*text-align: center;*/
    /*font-size: 1.2em;*/
    /*margin-right: 25px;*/
}

.quantity .dish-item-plus, .quantity .dish-item-minus {
    line-height: 0;
    background-clip: padding-box;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-background-size: 6px 30px;
    -moz-background-size: 6px 30px;
    color: #bbb;
    font-size: 20px;
    position: absolute;
    height: 50%;
    border: 0;
    right: 0;
    padding: 0;
    width: 25px;
    z-index: 3
}

.quantity .minus:hover, .quantity .plus:hover {
    background-color: #dad8da
}

.quantity .minus {
    bottom: 0
}
.shopping-cart {
    margin-top: 20px;
    width: auto;
}

.fixed {
    position: fixed;
    top: 0;
    /*left: 0;*/
}

.fixed #shopping_cart_inner {
var(shopping_cart_width)
max-width: 700px;
    margin: 0 auto;
}
.product-name, .dish-item-price, .dish-item-qty {
    font-size: small;
    text-align: center;
    margin: 0;
    padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

   opacity: 1;

}
/* ------------------------------------ */