<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal{{ record.id }}">
    <i class="fas fa-trash mr-1" aria-hidden="true" data-toggle="modal" data-target="#deleteModal{{ record.id }}"></i>
    Disdici
</button>

<!-- Modal -->
<div class="modal" id="deleteModal{{ record.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-full-height modal-bottom modal-notify modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #ff3547; box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);"><i class="fas fa-trash-alt fa-2x"></i>
        <h5 class="modal-title" id="exampleModalLabel">{{ record.titolo }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          Sicuro di voler disdire l'ordine?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
        <a  href="{% url 'custom_users:customer-cancel-order' record.id %}" type="button" class="btn btn-danger">Disdici</a>
      </div>
    </div>
  </div>
</div>