{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="{% static 'css/base.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
          crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}
    {% endblock %}
</head>
<body>

{% block content%}

    <nav class="navbar my-navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">
            <a class="navbar-brand" id="home-logo" href="{% url 'home' %}" >Food delivery</a>
            <button
                    class="navbar-toggler border-0"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span
                            class="iconify bar-icon"
                            data-icon="fa-solid:bars"
                            data-inline="false">
                    </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">

                    {% if request.user.is_restaurateur %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'restaurants:restaurants-managing' %}">Gestione ristoranti<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'restaurants:menu-managing' 0 %}">Gestione menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'restaurants:orders-managing' 0 %}">Gestione ordini</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'restaurants:accepted-orders-managing' 0 %}">Gestione ordini accettati</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'restaurants:done-orders-managing' 0 %}">Ordini terminati</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ user_name }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'custom_users:logout' %}">Logout</a>
                            </div>
                        </li>
                    {% else %}

                        {% block search-bar %}
                            <li class="nav-item">
                                <a class="btn btn-dark" id="find_a_meal_btn" href="{% url 'input-address' %}"><i class="fas fa-utensils mr-2"></i>Trova un pasto</a>
                            </li>
                        {% endblock %}

                            <!-- Shopping cart button -->
                            {% if cart_total == 0.0 %}
                                <li class="nav-item">
                                    <a class="btn btn-outline-dark disabled mx-2" id="shopping_cart_btn" href="{% url 'restaurants:payment' %}?next={{ request.path }}" ><i class="fas fa-shopping-cart mr-2"></i>{{ cart_total }}€</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="btn btn-outline-dark mx-2" id="shopping_cart_btn" href="{% url 'restaurants:payment' %}?next={{ request.path }}" ><i class="fas fa-shopping-cart mr-2"></i>{{ cart_total }}€</a>
                                </li>
                            {% endif %}
                            <!--------------------->
                        {% block user-section %}
                            <!-- Nav bar buttons -->
                            {% if request.user.is_authenticated %}
                                {% if user.is_customer %}
                                    <!-- dropdown menu to access and orders' management -->
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle active" href="#" id="customer-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {{ user_name }}
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="{% url 'custom_users:logout' %}">Logout</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="{% url 'custom_users:customer-orders-managing' %}">Gestione ordini non accettati</a>
                                            <a class="dropdown-item" href="{% url 'custom_users:customer-accepted-orders' %}">Ordini accettati</a>
                                        </div>
                                    </li>
                                    <!-------------------------------------------------------------->
                                {% endif %}
                            {% else %}
                                <li class="nav-item">
                                    <a id="home-login" class="nav-link active" href="{% url 'custom_users:login' %}">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a id="home-signup" class="nav-link active" href="{% url 'custom_users:register-customer-user' %}">Registrati</a>
                                </li>
                                <li class="nav-item">
                                    <a id="home-signup" class="nav-link active" href="{% url 'custom_users:register-restaurateur-user' %}">Diventa partner</a>
                                </li>
                            {% endif %}
                            <!-------------------->
                        {% endblock %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% block body %}
    {% endblock %}

{% endblock %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

{#<script type="text/javascript" src="{% static 'js/cart_updater.js' %}"></script>#}

{% block javascript %}

{% endblock %}

</body>
</html>