{% extends 'base.html' %}

{% load static %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block title %}Homepage{% endblock %}

{% block search-bar %}
{% endblock %}

{% block body %}
    <!-- Show django messages -->
    {% if messages %}
        <ul class="messages" style="padding: 0px;">
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        </ul>
    {% endif %}
    <!------------------------->

        <div class="find-a-meal-container">
            <div class="find-a-meal-container-inner">
                <a class="btn btn-dark" id="find_a_meal_btn_home" href="{% url 'input-address' %}"><i class="fas fa-utensils mr-2"></i>Trova un pasto</a>
            </div>
        </div>
{% endblock %}


