{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/show_restaurants_in_range.css' %}">
{% endblock %}

{% block title %}Consegna a domicilio in via {{ customer_street }}{% endblock %}

{% block body %}
    <!-- Show django messages -->
    {% if messages %}
        <ul class="messages" style="padding: 0px;">
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        </ul>
    {% endif %}
    <!------------------------->

    <h2 class="my-3 mx-3">Ristoranti che consegnano in via {{ customer_street }}</h2>
    {% for restaurant in restaurants_in_range %}
        <a class="btn btn-dark mx-3 restaurant_button" href="{% url 'restaurants:restaurant-page' pk=restaurant.id %}">
        <img id="restaurant_logo_in_btn" class="m-2" src="{{ media_url }}{{ restaurant.logo }}">
            <h5>{{ restaurant.name }}</h5>
            <p>
                Via {{ restaurant.street }} {{ restaurant.house_number }}, {{ restaurant.city }}
            </p>
        </a>
    {%  endfor %}
{% endblock %}
